.tag {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.small {
  font-size: 12px;
  line-height: 12px;
}

.medium {
  font-size: 14px;
  line-height: 14px;
}

.ghost {
  border: 1px solid var(--gray-light);
}
.red,
.gray,
.green {
  font-weight: bold;
}

.red {
  color: var(--white);
  background: #de0000;
}

.gray {
  color: var(--white);
  background: #b3c0d9;
}

.green {
  color: var(--green);
  background: var(--green-light);
}

.primary {
  color: var(--primary);
  background: none;
  border: 1px solid var(--primary);
}
